.outer {
  background-color: #1f2937; /* Set the background color for the outer container */
}

.nav-bar {
  /* Add your navbar styles here */
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
}

//.dropdown-content {
//  display: none;
//  position: absolute;
//  background-color: transparent; /* Set the background to transparent */
//  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
//  z-index: 1;
//}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn-dark {
  background-color: transparent; /* Set the default background color for the button */
  color: white; /* Set the default text color for the button */
  border: none; /* Remove the default border */
  padding: 10px 16px;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: #1f2937; /* Set the background color on hover */
  color: orange; /* Change the text color on hover */
}
