<!--<app-bg-speedo-animation></app-bg-speedo-animation>-->
<div class="container flex flex-col items-center justify-center">
  <h1 class="font-semibold mt-5 text-center" id="title-vehicle">Accessories & Other</h1>
  <div class="container mx-auto">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
          <app-vehicle-view-card></app-vehicle-view-card>
        </div>
      </div>
    </div>
  </div>

