<div class="card">
  <div class="icon">
    <div class="icon">
      <img src="https://images.unsplash.com/photo-1544896478-d5b709d413c5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmludGFnZSUyMGNhcnxlbnwwfHwwfHx8MA%3D%3D" alt="Vehicle Image" width="80" height="80">
    </div>
  </div>
  <p class="title">Mercedes Benz CLA 200 AMG</p>
<!--  <p class="text">Check all your favourites in one place.</p>-->
  <button id="btn-vehicle-detail-view" type="button"
          (click)="navigateToDetailView('/vehicle-detail/',vehicleId)"
          class="btn btn-outline-primary font-bold w-2/3">Detail View</button>
  <button id="btn-buy-vehicle" type="button" class="btn btn-outline-success font-bold w-2/3 mt-1 mb-4">Buy</button>
</div>
