<!--============= Find/Search Vehicles ==============-->
<app-bg-image></app-bg-image>
<!--<div class="container pt-96">-->
<!--  <div class="row">-->
<!--    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">-->
<!--      <app-bg-speedo-animation></app-bg-speedo-animation>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-main-slider></app-main-slider>-->
<!--============= Slider ==============-->
<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 inner">
      <app-vehicle-view-card></app-vehicle-view-card>
    </div>
  </div>
</div>
